:root {
    color:white;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(12, 12, 12, 0.699), 
          rgba(12, 12, 12, 0.699)
        ),
        /* bottom, image */
        url(../images/windows_xp_66.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

h2, h3 {
    text-align: center;
    color: white;
}

.navbar {
    color: white;
}

.navbar a {
    color: white;
}